---
import { ViewTransitions } from 'astro:transitions';

import Profile from '@components/Profile.svelte';
import BackArrow from '@components/utils/BackArrow.svelte';
import Modal from '@components/utils/Modal.svelte';
import ToastContainer from '@components/utils/ToastContainer.svelte';

import '@styles/global.css';
import '@styles/rainbow-kit.css';
import '@styles/icons.css';

const {
  header,
  subheading,
  arrow,
  story,
  title,
  description,
  image,
  imageType,
  url,
  type = 'website',
} = Astro.props;
---

<html lang="en">
  <head>
    <title>CoNexus | DeGenerous DAO</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:image:type" content={imageType ?? 'image/png'} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content={type} />

    <!-- Twitter Card Meta Tags (optional for better previews) -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
    <ViewTransitions />
  </head>
  <body>
    <ToastContainer client:load />
    {
      !story && (
        <header class="container">
          {arrow && <BackArrow client:load />}
          {!arrow && (
            <a
              href="https://degenerousdao.com/"
              target="_blank"
              aria-label="dgrs-logo"
            >
              <img class="logo" src="/logo.avif" alt="Logo" />
            </a>
          )}
          {header === 'CoNexus' ? (
            <picture>
              <source srcset="title.avif" type="image/avif" />
              <img
                class="title blur"
                src="title.png"
                alt="CoNexus"
                draggable="false"
              />
            </picture>
          ) : (
            <h1 class="header">{header}</h1>
          )}
          <Profile client:load />
        </header>
      )
    }
    {subheading && <p class="subheading" set:html={subheading} />}

    <slot />

    <Modal client:load />

    <style>
      picture {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .container {
        width: 100vw;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 2vw;
        min-height: 12.5vw;
      }

      .header {
        font-size: 5vw;
        line-height: 5vw;
        text-align: center;
        color: rgba(51, 226, 230, 0.85);
        text-shadow: 0 0.5vw 0.5vw #010020;
      }

      .title {
        width: 33vw;
        height: auto;
        filter: drop-shadow(0 0 0.5vw rgba(51, 226, 230, 0.25));
        box-shadow:
          inset 0 0 0.5vw rgba(51, 226, 230, 0.5),
          0 0.25vw 0.25vw #010020;
        background-color: rgba(51, 226, 230, 0.5);
        padding: 1vw 2vw;
        border-radius: 1.5vw;
        aspect-ratio: initial;
      }

      .subheading {
        width: 90%;
        font-size: 1.5vw;
        line-height: 2.5vw;
        text-align: center;
        color: rgba(51, 226, 230, 0.75);
        text-shadow: 0 0.25vw 0.25vw #010020;
      }

      a {
        flex: none;
        border-radius: 50%;
      }

      .logo {
        cursor: inherit;
        border-radius: inherit;
        height: 7vw;
        width: 7vw;
        opacity: 0.7;
        transition: all 0.3s ease-in-out;
      }

      .logo:hover,
      .logo:active {
        opacity: 1;
        transform: scale(1.05);
      }

      @media only screen and (max-width: 600px) {
        .container {
          position: fixed;
          top: 0;
          background-color: rgba(1, 0, 32, 0.75);
          filter: drop-shadow(0 1vw 1vw rgba(1, 0, 32, 0.75));
          -webkit-backdrop-filter: blur(2vw);
          backdrop-filter: blur(2vw);
          z-index: 200;
          min-height: 5em;
        }

        .header {
          font-size: 1.5em;
          line-height: 1.5em;
        }

        .title {
          width: 40vw;
          padding: 2vw 4vw;
        }

        .subheading {
          font-size: inherit;
          line-height: 1.5em;
          padding: 1em;
          background-color: rgba(22, 30, 95, 0.5);
          -webkit-backdrop-filter: blur(2vw);
          backdrop-filter: blur(2vw);
          box-shadow:
            inset 0 0 0.5vw rgba(51, 226, 230, 0.5),
            0 0 0.5vw #010020;
          border-radius: 1em;
        }

        .logo {
          width: 3em;
          height: 3em;
        }

        .profile-icon {
          width: 3em;
          height: 3em;
        }
      }
    </style>
  </body>
</html>

<!-- Copyright DeGenerous
Society - All Rights Reserved
Unauthorized copying of this file, via any medium is strictly prohibited
Proprietary and confidential -->
